.nav--link {
    padding: 10px 20px !important;
}

.nav--link.active {
    border-top: 3px solid #FF6F32;
}

.nav--link:not(.active) {
    padding-top: 13px !important;
}

.logo {
    width: 100%;
}

.navbar--brand {
    width: 14%;
}

.dropdown-1 {
    margin-left: 3%;
}

.dropdown-1 button {
    border-radius: 0px;
    color: #565353;
}

/* for SearchBar */
.search-btn {
    background-color: unset;
    border: none;
    position: absolute;
    left: 3%;
    top: 30%;
}
.search-input:focus {
    box-shadow: none !important;
    border-color: #FF6F32 !important;
}
/* for HeaderRight */
.icon{
    width: 20px;
    height: 20px;
}
.icon-btn{
    width: 45px;
    height: 45px;
}
.create-account-btn{
    background-color: #FFEEE8;
    border: none;
    color: #FF6F32;
    font-weight: 500;
}
.sign-in-btn{
    background-color: #FF6F32;
    border: none;
    color: white;
    font-weight: 500;
}
.fade{
    box-shadow: 0px 0px 6px #7c736f;
}
.dropdown-item-hover:hover{
    background-color: #FFEEE8!important;
    color: #FF6F32!important;
    transition: 0.4s ease;
}

/* sumary header */
.summary-header{
    background-color: #f7f5f4f9;
    padding: 15px 0px;
}
.mini-icon{
    width: 20px;
    height: 20px;
}
.review-course-btn{
    background-color: white;
    border: none;
    color: #FF6F32;
    font-weight: 500;
}
/* end sumary header */
/* For mobile navbar */
.offcanvas-menu{
    width: 80%;
    background-color: #5f5e5ee9 !important;
}
.nav-mobile-link{
    padding: 10px 20px !important;
    border-radius: 5px;
}
.nav-mobile-link.active{
    background-color: #FF6F32;
}
/* end */

@media screen and (max-width: 768px) {
    .mobile-item-view{
        width: 300%;
    }
    .desktop-item-view{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .mobile-item-view{
        display: none;
    }
    .desktop-item-view{
        display: block;
    }
}
@media screen and (min-width: 1024px) {
    .tablet-view-nav{
        display: none;
    }
    .desktop-view-nav{
        display: block;
    }
    .search-input{
        border-radius: 0px;
    }
}
@media screen and (max-width: 1024px) {
    .tablet-view-nav{
        display: block;
    }
    .desktop-view-nav{
        display: none;
    }
    .navbar--brand {
        width: 25%;
    }
    .search-input{
        border-radius: 20px !important;
    }
}